<%= # Added this, but it's not working as hoped. Probably delete. %>
<h1>Listing plays for this game</h1>

<table>
  <tr>
    <th>Game ID</th>
    <th>Game Name</th>
    <th>UserOne ID</th>
    <th>UserOne Name</th>
    <th>TargetUser ID</th>
    <th>TargetUser Name</th>
    <th>UserOne Kill Code</th>
  </tr>

<% @plays.each do |play| %>
  <tr>
    <td><%= play.game_id %></td>
    <td><%= play.game.gamename %></td>
    <td><%= play.userone_id %></td>
    <td><%= play.user.username %></td>
    <td><%= play.targetuser_id %></td>
    <td><%= play.targetuser_id %></td>
    <td><%= play.useronekillcode %></td>
    <td><%= link_to 'Show', game %></td>
    <% if current_user == game.user %>
      <td><%= link_to 'Begin', begin_game(game) %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user == @game.user %>
	<%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to 'Back', games_path %>