<p>
  <b>Gamename:</b>
  <%= @game.gamename %>
</p>

<% if @game.status == 1 %>
  <p>Game has begun, so gamestats will be rendered below</p>
  <%= render 'gamestats' %>
<% end %>

<h1>Listing plays for this game</h1>

<table>
  <tr>
    <th>Game ID</th>
    <th>Game Name</th>
    <th>Play ID</th>
    <th>UserOne ID</th>
    <th>UserOne Name</th>
    <th>TargetUser ID</th>
    <th>TargetUser Name</th>
    <th>UserOne Kill Code</th>
    <th>UserOne Kills</th>
  </tr>

<% @plays.each do |play| %>
  <tr>
    <td><%= play.game_id %></td>
    <td><%= play.game.gamename %></td>
    <td><%= play.id %></td>
    <td><%= play.assassin.id %></td>
    <td><%= play.assassin.username %></td>
    <td><%= play.target.try(:id) %></td>
    <td><%= play.target.try(:username) %></td>
    <td><%= play.useronekillcode %></td>
    <td><%= play.kills %></td>
  </tr>
<% end %>
</table>

<% if @game.status == 0 %>
  <%= link_to 'Begin Game', { action: "begingame", id: @game }, method: :put %> |
<% end %>

<% if current_user == @game.user %>
	<%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to 'Back', games_path %>
